body {
  background-color: #474744;
}
.Weather {
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  padding: 16px;
  border-radius: 4px;
  background-color: #fffbe0;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  font-size: 30px;
  color: #ffb400;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
  color: #474744;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin: 10px auto;
}
.Weather .temperature {
  font-weight: bold;
  color: #ffb400;
  font-size: 50px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .unit {
  color: #ffb400;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.Weather .btn-custom {
  background-color: #2994b2;
  border: 2px solid #2994b2;
  border-radius: 3px;
  padding: 5px 10px;
}
a {
  color: #ffb400;
  text-decoration: none;
}
a:hover {
  color: #fffbe0;
}
footer {
  color: #fffbe0;
}
